body{
    margin: 0;
    padding: 0;
}


/*
header
*/

#header{
    background-color: rgb(0, 0, 0);
    height: 4rem;
}

#headerImg {
    margin: 0;
    padding: 0;
    float: left;
    max-height: 100%;
}

#headerText{
    color:aliceblue;
    font-size: 2.5rem;
    margin: 0;
    padding: .5rem 0;
}

/*
nav bar
*/

/*mobile*/
@media only screen and (max-width: 768px){
    #mainNav{
        height: 6vw;
        min-height: 50px;
        background-color: rgb(27, 27, 27);
        display: block;
    }
    
    #homeButton {
        height: 100%;
        display: none;
    }

    #mainNav ul{
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    #mainNav ul a li{
        float: none;
        list-style: none;
        height: 100%;
        width: 100%;
        display: block;
    }
    
    #mainNav ul a li p{
        margin: 0;
        padding: 0;
        font-size: 2rem;
        width: 100%;
    }
}

/*desktop*/
@media only screen and (min-width: 768px){
    #mainNav{
        height: 50px;
        background-color: rgb(27, 27, 27);
        display: block;
    }

    #homeButton {
        height: 100%;
        background-color: black;
    }

    #mainNav ul{
        margin: 0;
        padding: 0;
        height: 100%;
        float: right;
        width: 700px;
    }
    
    #mainNav ul a li{
        list-style: none;
        height: 100%;
        width: 25%;
        float: left;
        display: block;
    }
    
    #mainNav ul a li p{
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        width: 100%;
    }
}

/*extra wide*/
@media only screen and (min-width: 1300px){
    #mainNav{
        height: 50px;
        background-color: rgb(27, 27, 27);
        display: block;
    }

    #homeButton {
        height: 100%;
    }

    #mainNav ul{
        margin: 0;
        padding: 0;
        height: 100%;
        float: right;
        width: 700px;
    }
    
    #mainNav ul a li{
        list-style: none;
        height: 100%;
        width: 25%;
        float: left;
        display: block;
    }
    
    #mainNav ul a li p{
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        width: 100%;
    }
}

.center {
    position: relative;
    display: block;
}
  
.center p {
    
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hoverInverse li{
    transition: background .4s, color .4s; 
    color:aliceblue;
    background: rgb(27, 27, 27);
}

.hoverInverse:hover li{
    background:aliceblue;
    color:rgb(27, 27, 27);
}