:root{
    --HeaderToneA:rgb(37, 35, 46);
    --HeaderTextA:rgb(240, 248, 255);

    --NavToneA:rgb(45, 43, 51);
    --NavHighlightA:rgb(240, 248, 255);
    --NavTextA:rgb(240, 248, 255);
    --NavHighlightTextA:rgb(68, 65, 80);

    --bodyToneA:#808080;
    --bodyToneB:rgb(65, 69, 71);
    --bodyToneC:rgb(45, 43, 51);
    --bodyTextA:rgb(240, 248, 255);

}



body{
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: sans-serif
}


/*
header
*/
@media only screen and (max-width: 768px){
    #mobileHeader{
        background-color: var(--HeaderToneA);
        height: 4rem;
        display: block;
    }
    #headerImg {
        display: none;
    }
    #headerText{
        display: none;
    }
    #mobileHeaderText{
        color:var(--HeaderTextA);
        font-size: 2.5rem;
        margin: 0;
        padding: .5rem 0;
    }
}
@media only screen and (min-width: 767px){
    #mobileHeader{
        display: none;
    }
    #mobileHeaderText{
        display: none;
    }
    #header{
        background-color: var(--HeaderToneA);
        height: 4rem;
    }
    
    #headerImg {
        margin: 0;
        padding: 0;
        float: left;
        max-height: 100%;
    }
    
    #headerText{
        color:var(--HeaderTextA);
        font-size: 2.5rem;
        margin: 0;
        padding: .5rem 0;
    }
}



/*
nav bar
*/

/*mobile*/
@media only screen and (max-width: 768px){
    /*
    #mainNav{
        height: 6vw;
        min-height: 50px;
        background-color: var(--NavToneA);
        display: block;
    }
    
    #homeButton {
        height: 100%;
        display: none;
    }

    #mainNav ul{
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    #mainNav ul a li{
        float: none;
        list-style: none;
        height: 100%;
        width: 100%;
        display: block;
    }
    
    #mainNav ul a li p{
        margin: 0;
        padding: 0;
        font-size: 2rem;
        width: 100%;
    }

    #lightSwitch{
        display: none;
    }
    */
    #mainNav{
        height: 6vw;
        min-height: 50px;
        background-color: var(--NavToneA);
        display: block;
        z-index: 1;
    }

    #homeButton {
        height: 100%;
        display: none;
    }

    #navContainer{
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    .T1 li{
        float: none;
        list-style: none;
        height: 100%;
        width: 100%;
        display: block;
        clear: both;
    }
    
    .T1 li p{
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        width: 100%;
    }

    #lightSwitch{
        height:100%;
        float:right;
        filter: grayscale() contrast(2);
        padding-right: 10px;
    }

    .T2{
        margin: 0;
        padding: 0;
        list-style: none;
        height: 50px;
        width: 100%;
        float: left;
        display: block;
        transition: background .4s, color .4s; 
        color:var(--NavTextA);
        background: var(--NavToneA);
        font-size: 1.5rem;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .T2:hover{
        background:var(--NavHighlightA);
        color:var(--NavHighlightTextA);
    }

    .T2:hover .T2Dropdown{
        display: block;
        transition: background .4s, color .4s; 
        color:var(--NavTextA);
        background: var(--NavToneA);
    }

    .T2Dropdown{
        position: relative;
        list-style: none;
        height: 100%;
        width: 100%;
        float: none;
        display: none;
        top: 100%;
        font-size: .9rem; 
    }
    .T2Dropdown li{
        transition: background .4s, color .4s; 
        color:var(--NavTextA);
        background: var(--NavToneA);
    }

    .T2Dropdown:hover{
        background:var(--NavHighlightA) !important;
    }

    .T2Dropdown:hover li{
        color:var(--NavHighlightTextA);
    }

}

/*desktop*/
@media only screen and (min-width: 768px){
    #mainNav{
        height: 50px;
        background-color: var(--NavToneA);
        display: block;
    }

    #homeButton {
        padding:10px;
        height: 30px;
        background-color: var(--NavToneA);
        float: left;
    }

    #navContainer{
        margin: 0;
        padding: 0;
        height: 100%;
        float: left;
        width: 700px;
    }
    
    .T1 li{
        list-style: none;
        height: 100%;
        width: 25%;
        float: left;
        display: block;
    }
    
    .T1 li p{
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        width: 100%;
    }

    #lightSwitch{
        height:100%;
        float:right;
        filter: invert(100%);
        padding-right: 10px;
    }

    .T2{
        margin: 0;
        padding: 0;
        list-style: none;
        height: 100%;
        width: 25%;
        float: left;
        display: block;
        transition: background .4s, color .4s; 
        color:var(--NavTextA);
        background: var(--NavToneA);
        font-size: 1.5rem;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .T2:hover{
        background:var(--NavHighlightA);
        color:var(--NavHighlightTextA);
    }

    .T2:hover .T2Dropdown{
        display: block;
        transition: background .4s, color .4s; 
        color:var(--NavTextA);
        background: var(--NavToneA);
    }

    .T2Dropdown{
        position: relative;
        list-style: none;
        height: 100%;
        width: 100%;
        float: none;
        display: none;
        top: 100%;
        font-size: .9rem;

        
    }
    .T2Dropdown li{
        transition: background .4s, color .4s; 
        color:var(--NavTextA);
        background: var(--NavToneA);
    }

    .T2Dropdown:hover{
        background:var(--NavHighlightA) !important;
    }

    .T2Dropdown:hover li{
        color:var(--NavHighlightTextA);
    }
}

/*extra wide (no change)*/
@media only screen and (min-width: 1300px){

    #mainNav{
        height: 50px;
        background-color: var(--NavToneA);
        display: block;
    }

    #homeButton {
        padding:10px;
        height: 30px;
        background-color: var(--NavToneA);
        float: left;
    }

    #navContainer{
        margin: 0;
        padding: 0;
        height: 100%;
        float: left;
        width: 700px;
    }
    
    .T1 li{
        list-style: none;
        height: 100%;
        width: 25%;
        float: left;
        display: block;
    }
    
    .T1 li p{
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        width: 100%;
    }

    #lightSwitch{
        height:100%;
        float:right;
        filter: invert(100%);
        padding-right: 10px;
    }

    .T2{
        margin: 0;
        padding: 0;
        list-style: none;
        height: 100%;
        width: 25%;
        float: left;
        display: block;
        transition: background .4s, color .4s; 
        color:var(--NavTextA);
        background: var(--NavToneA);
        font-size: 1.5rem;
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .T2:hover{
        background:var(--NavHighlightA);
        color:var(--NavHighlightTextA);
    }

    .T2:hover .T2Dropdown{
        display: block;
        transition: background .4s, color .4s; 
        color:var(--NavTextA);
        background: var(--NavToneA);
    }

    .T2Dropdown{
        position: relative;
        list-style: none;
        height: 100%;
        width: 100%;
        float: none;
        display: none;
        top: 100%;
        font-size: .9rem;

        
    }
    .T2Dropdown li{
        transition: background .4s, color .4s; 
        color:var(--NavTextA);
        background: var(--NavToneA);
    }

    .T2Dropdown:hover{
        background:var(--NavHighlightA) !important;
    }

    .T2Dropdown:hover li{
        color:var(--NavHighlightTextA);
    }
}

.center {
    position: relative;
    display: block;
}
  
.center p {
    
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hoverInverse li{
    transition: background .4s, color .4s; 
    color:var(--NavTextA);
    background: var(--NavToneA);
}

.hoverInverse:hover li{
    background:var(--NavHighlightA);
    color:var(--NavHighlightTextA);
}


/*
Body
*/

main{
    background: linear-gradient(to bottom, var(--NavToneA), var(--bodyToneA));
}

#homepage{
    z-index: 2;
    display: block;
    clear: both;
}

#gradientOverlay{
    background: linear-gradient(to top, rgba(0,0,0, 1) 0%, rgba(0,0,0, 0.3673669296820291) 44%, 
    rgba(0,0,0, 0) 74%);
    height: 82.1vh;
    position: relative;
}

#screenshot{
    width: 90vw;
    margin-left: 5%;
    position: absolute;
}
